<div *ngIf="isClicked">
<div class="row">
  <div class="col-xs-12">
    <h1>{{ exercise?.exerciseName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group button-spacing" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Exercises <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="list-hover" (click)="onAddTraining()">Add to Training</a></li>
        <li><a class="list-hover" (click)="onEditExercise()">Edit Exercise</a></li>
        <li><a class="list-hover" (click)="onDeleteExercise()">Delete Exercise</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 custom-align-items-center spacing">
    <iframe width="550" height="400" [src]="ytLink | safe" 
    frameborder="0" 
    allow="accelerometer"
    ></iframe>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 paragraph-box spacing">
    <h3>Description</h3>
    <span class="text-box">{{ exercise?.exerciseDescription }}</span>
  </div>
</div>
</div>