<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!trainingForm.valid">
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="patchTrainingValues()"
            *ngIf="editMode"
          >
            Fill with data
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="trainingName">Name</label>
            <input
              type="text"
              id="trainingName"
              formControlName="trainingName"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="trainingImage">Image URL</label>
            <input
              type="text"
              id="trainingImage"
              formControlName="trainingImage"
              class="form-control"
              #trainingImage
            />
          </div>
        </div>
      </div>
      <div *ngIf="trainingImage.value" class="row">
        <div class="col-xs-12">
          <img [src]="trainingImage.value" class="img-responsive" width="150" height="150" />
        </div>
      </div>
    </form>
  </div>
</div>
